:root.theme-light {
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --text-color: #353430;
  --bg-color: #fff1f7;
  --article-title-color: #353430;
  --section-title-color: #353430;
  --button-color: #353430;
  --button-hover-color: rgba(50, 49, 45, 0.4);
  --decor-color: #353430;
  --link-shadow: #ff8dcb;
  --bg-image: url("../images/cover-image-light.png");
}

.theme-light .decorated-element {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
    --text-color: #353430;
    --bg-color: #fff1f7;
    --article-title-color: #353430;
    --section-title-color: #353430;
    --button-color: #353430;
    --button-hover-color: rgba(50, 49, 45, 0.4);
    --decor-color: #353430;
    --link-shadow: #ff8dcb;
    --bg-image: url("../images/cover-image-light.png");
  }

  .decorated-element {
    display: none;
  }
}
